* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    width: 940px;
    margin: 0 auto;
    padding: 10px;
}

.padding {
    padding: 20px;
}

.centerImage {
    text-align: center;
    display: block;
    margin: 5px auto;
}